/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600;700&display=swap');

:root {
    --light:#e9e9e9;
    --dark: #252525;
    --link: #6CA6C1;
}

html {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 16px;
    padding: 15px;
    color: var(--light);
}

body {
    background: var(--dark);
}

#main {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
}

article {
    width: 100%;
    line-height: 1.54;
}

a.logo {
    cursor: pointer;
    text-decoration: none;
    color: var(--link);
}

a {
    color: var(--link);
    text-decoration: none;
}

h2,h3 {
    font-weight: 600;
}

article a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 450px) {
    html {
        font-size: 15px;
    }
}
