html {
  margin: 0;
}

body {
  font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #000;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.content {
  max-width: 400px;
  margin: 0 auto;
}