:root {
  --bg-dark: #141414;
  --f-color: #f2f6fc;
  --link-color: #1db954;
  --link-h-color: #1ed760;
  --ff-body: 'Amiko';
  --ff-heading: 'Play';
  --fw-body: 400;
  --fw-heading: 600;
  --line-height: 1.8;
  --fs-body: 15px;
  --fs-h1: 24px;
  --fs-h2: 22px;
}

html {
  padding: 15px;
  font-size: var(--fs-body);
  font-family: var(--ff-body);
  color: var(--f-color);
  background: var(--bg-dark);
}

.container {
  max-width: 640px;
  margin-right: auto;
  margin-left: auto;
}

h2 {
  font-size: var(--fs-h2);
  font-family: var(--ff-heading);
  font-weight: var(--fw-heading);
}

.download {
  line-height: var(--line-height);
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-h-color);
  text-decoration: underline;
}