:root {
  --body-color: #fffc;
  --link-color: #54aaf5;
  --link-hover: #0084BE;
  --body-bg: #212529;
}

@font-face {
  font-family: 'Breuer Text';
  font-weight: 400;
  src: url(../fonts/Breuer\ Text\ Regular.woff2);
}

html {
  padding: 15px !important;
  line-height: 1.5 !important;
}

body {
  font-size: 16px;
  font-family: 'breuer text';
  color: var(--body-color);
  background: var(--body-bg);
}

.container {
  max-width: 600px;
  margin: 0 auto !important;
}

a {
  color: var(--link-color);
  transition: color 0.3s;
  text-decoration: none;
}

a:hover {
  color: var(--link-hover);
  cursor: pointer;
}

/* For mobile devices */
@media only screen and (max-width: 600px) {
  p {
    font-size: 14px !important;
  }
}