:root {
  --bg-color: #000000;
  --body-color: #00ff28;
  --body-font: 'Source Code Pro', monospace;
}

html {
  font-size: 16px;
  text-align: center;
  font-family: var(--body-font);
  background: var(--bg-color);
  color: var(--body-color);
}

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.fading {
  animation: fading 4s infinite;
}

@keyframes fading {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}